/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
}
.main{
	background-color:rgb(255,255,255);
	border-radius: 10px;
	padding: 20px;
	border: 1px solid black;
}
h1,h2,h3{
	text-align:center;
}

	.main li{
		list-style:none;
	}

.main a{
	text-decoration: none;
}  
/* 
#second{
	background-color: rgb(255,255,255);
	padding: 20px;
	border-radius: 10px;
	border: 1px solid black;
	width: 50%;
	margin-left:25%;
}
 */
.player_one,.player_two{
	background-color: rgb(255,255,255);
	padding: 20px;
	border-radius: 10px;
	border: 1px solid black;
	width: 50%;
	margin-left:25%;
}



